.item {
	background: rgb(206, 218, 231)00;
}

.container {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.itemTitle {
	font-size: 18px;
	font-weight: 500;
}

.itemContent {}

.itemInfo {
	display: flex;
	column-gap: 10px;
}